.s7 {
    .section-content {
        padding: 0 170px 0 0;

        p {
            font-size: 23px !important;
        }

        h4 {
            font-size: 38px !important;
            color: #fff !important;
            text-align: left !important;
            margin: 20px auto;
        }

        a {
            color: #fff;
            display: block;
            margin: 20px auto;
            font-size: 25px;
            text-decoration: none;
        }
    }
}